main, .gsc-main {
  --color-canvas-default: #fffff8;
  --color-canvas-subtle: #fffff8;
  --color-canvas-inset: #fffff8;
  --color-canvas-overlay: #fffff8;
  --color-border-default: #e8e0d8;
  --color-border-muted: #e8e0d8;
  --color-fg-default: #070707;
  --color-fg-muted: #070707;
  --color-fg-subtle: #070707;
  --color-fg-on-emphasis: #fffff8;
  --color-accent-fg: #070707;
  --color-accent-emphasis: #070707;
  --color-neutral-muted: rgba(7, 7, 7, 0.1);
  --color-neutral-emphasis: #070707;
  --color-btn-bg: #f5f5ef;
  --color-btn-border: #e8e0d8;
  --color-btn-text: #070707;
  --color-btn-hover-bg: #eae4dc;
  --color-btn-hover-border: #070707;
  --color-btn-primary-bg: #070707;
  --color-btn-primary-text: #fffff8;
  --color-btn-primary-hover-bg: #333333;
  background-color: #fffff8;
  color: #070707;
  font-family: et-book, "STKAITI", Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

main * {
  color: inherit;
  font-family: inherit;
}

main a {
  color: #070707;
}
