<!--- Header and pages template site-wide -->
<header>
    <nav class="group">
	<a href="{{site.baseurl}}/"><img class="badge" src="{{site.baseurl}}/assets/img/favicon.png" alt="CH"></a>
	{% for nav_tag in site.nav_bar %}
		{% if nav_tag.absolute-link %}
		    {% assign nav_tag_url = nav_tag.absolute-link %}
		{% else %}
		    {% assign nav_tag_url = site.url | append: site.baseurl | append: "/" | append: nav_tag.link %}
		{% endif %}
<!--		<input type="radio" id="{{nav_tag.name}}" name="nav" class="nav-input">-->
		<a href="{{nav_tag_url}}" class="nav-link">{{nav_tag.name}}</a>
  	{% endfor %}
	<!-- 右侧搜索框 -->
	<div class="navbar-right">
	  <div class="search-container">
		<input type="text" id="search-input" placeholder="search blog..." />
		<div id="search-results" class="search-results"></div>
	  </div>
	</div>
	</nav>


	<script>
        // 页面加载时设置激活状态
        document.addEventListener('DOMContentLoaded', () => {
<!--            const currentPage = window.location.pathname.split('/').pop();-->
            const currentPage = window.location.href;

            document.querySelectorAll('.nav-link').forEach(link => {
                if (link.getAttribute('href') === currentPage) {
                    link.classList.add('active');
                }
            });
        });


        // 导航点击处理（可选，用于单页应用）
        document.querySelectorAll('.nav-link').forEach(link => {
            link.addEventListener('click', function(e) {
                // 如果是单页应用，取消注释以下代码：
                e.preventDefault();
                window.location.href = this.href;
                history.pushState({}, '', this.href);
                document.querySelectorAll('.nav-link').forEach(l => l.classList.remove('active'));
                this.classList.add('active');
            });
        });
    </script>
</header>